extends ../_base/layout

block title
	title welcome to project

block content
	h1 #{maintext}

	h4 #{subtext}
		
	div 
		p The page you were looking for could not be found sorry.
	button.btn click here to make it all better