head
    block title
      title Default title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{title} - #{pName}
    meta(name="description", content="Pampers")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Facebook metas
    meta(property="og:site_name", content="Pampers")
    meta(property="og:url", content="")
    meta(property="og:title", content="#{title}")
    meta(property="og:description", content="")
    meta(property="og:image", content="")
    meta(property="og:type", content="website")

    //- Styles
    link(rel="stylesheet", href="../css/main.css")
